#Title
{
	display: block;
	padding-top: 3%;
  width: 45%;
  transition: 0.5s;
  z-index: 1;

}


#CoverImg
{
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  margin: 0;

}


.SortObj
{
	position: relative;
  top: 0;
  left: 0;

}

.Obj1
{
  position: relative;



}

.Obj2
{
  display: block;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;


}



body
{
	background-color: #000000;
  margin: 0;
  overflow-x: hidden;

}


.TaskBar
{
   background-color:#000000;
   overflow: auto;
   position: sticky;
   top: 0;
    z-index: 12;

}



.TaskBar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;


 
}


.TaskBar a:hover {
  background-color: #3cb455;
  color: black;
}


.TaskBar .split
{
	float: right;

}

.TaskBar .item {
   display: inline;
  position: absolute;
}


.nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #0b0b0b;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  z-index: 12;

}

.nav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  font-family: Space;
  color: #818181;
  display: block;
  transition: 0.2s;
}

.nav a:hover {
  color: #f1f1f1;
}

.nav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 10%;
}

#mainContent {
  transition: margin-left .5s;
}


#SocialTextBar
{
  display: flex;
  justify-content: center;
  align-items: center;


  
}

#SocialTextBar img
{
   display: flex;
  justify-content: center;
  align-items: center;
  display: inline-block;
  color: #f2f2f2;

  text-decoration: none;
  font-size: 17px;


}

#SocialTextBar img:hover
{
  background-color: #3cb455;
  color: #000000;

}



.icons
{
  transition: .5s;
   width: 50px;
   padding-left: 90px;
   padding-right: 90px;
  
   
}

.iconsInNav
{
   width: 25px;
   padding: 0% 1.8%;
   float: left;
}

@font-face
{
  font-family: Space;
  src: url("Fonts/space age.ttf");
}


#Description
{
  
  background-image: url("Images/backingToText.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  transition: opacity 3s;
  opacity:1;
 

}




#Description h2
{
  transition: 0.5s;
  color: white;
  text-align: center;
  font-family: Space;
  font-size: 50px;
}

#Description p
{
  transition: 0.5s;
  padding-top: 3%;
  color: white;
  font-family: Space;
  text-align: center;
  font-size: 30px;
}



#NewsAndUpdateSelect
{
  transition: opacity 3s;
  opacity:1;
  width: 100%;
  text-align: center;
  background-image: url("Images/Techbackground.png");

}




#NewsAndUpdateSelect img
{

  transition: 1s;
  width: 60%;
  padding-right: 0.7%;
  padding-left: 0.7%;
  filter: brightness(.6) drop-shadow(10px 10px 10px black);
}

#NewsAndUpdateSelect p
{
  color: white;
  text-align: center;
  font-family: Space;
  font-size: 20px;

}

#NewsAndUpdateSelect img:hover
{
  width: 75%;
 
  filter: brightness(1.0);

}

#NewsAndUpdateSelect hr
{
  padding: 0;
}

#NewsAndUpdateSelect h2
{
  transition: 0.5s;
  color: white;
  text-align: center;
  font-family: Space;
  font-size: 50px;
}


#NewsAndUpdateSelect ul 
{
  display: flex;
  list-style: none;




}


#slideshow
{
  transition: 0.5s;
}



.slideshow-container {
  width: 100%;
  position: relative;
  
  


}

.slideshow-container h2
{
  transition: 0.5s;
  color: white;
  text-align: center;
  font-family: Space;
  font-size: 50px;
}

.mySlides {
  display: none;
}


.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 70px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;

}

.prev:hover, .next:hover {
  background-color: #3cb455;
  color: black;
}


.text {
  color: white;
  text-align: center;
  font-family: Space;
  font-size: 30px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
 
}




.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #004d00;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;

}

.active, .dot:hover {
  background-color: #3cb455;
}

.fade {
  animation-name: fade;
  animation-duration: 2s;
}

@keyframes fade {
  from {opacity: .2}
  to {opacity: 1}
}

#copyright
{
  color: white;
  text-align: center;
  font-family: Space;
  font-size: 20px;
}


h2
{
  color: white;
  text-align: center;
  font-family: Space;
  font-size: 60px;
}

h3
{
  color: white;
  text-align: center;
  font-family: Space;
  font-size: 40px;

}

h4
{
   color: white;
  text-align: center;
  font-family: Space;
  font-size: 40px;
}

@media screen and (max-height: 450px) {
  .nav {padding-top: 15px;}
  .nav a {font-size: 18px;}

}


#SearchInput
{
  display: inline-block;
  vertical-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 20px;
  

}

#SearchParent
{
  display: inline;
  position: relative;
}

.NewsPageOrderingFinal

{
  display:inline-block; 
  margin-left: auto; 
  margin-right: auto; 
  width: 33%;
}

.UpdateBackgroud
{
  width: 100%;
  text-align: center;
  background-image: url("Images/Techbackground.png");



}

#lineTextNexttoImg img
{

 width:700px;
 
 margin-right: 5%;
 padding-left: 5%;


}


.UpdateBackgroud h3
{
  padding-top: 5%;


}


.UpdateBackgroud h4
{
  padding-top: 2%;
  padding-bottom: 2%;
     border-style: solid;
  border-radius: 10px;
  border-color: white;
  border-width: 10px;
  background-color: black;
  margin-left: 10%;
  margin-right: 10%;



}


.UpdateBackgroud p
{
  text-align: left;
  margin-left: 10%;
  color: white;
  font-family: Space;
  padding:5% ;
    border-style: solid;
  border-radius: 10px;
  border-color: white;
  border-width: 10px;
  background-color: black;

}





#lineTextNexttoImg
{
  display: flex;
  align-items: center;
  justify-content: center;


}




@media screen and (max-width: 920px)
{ 

  #NewsAndUpdateSelect img{width: 80%;}
  #NewsAndUpdateSelect img:hover{width: 95%;}

  #Title{ width: 90%; }
  .icons{  padding-left: 30px; padding-right: 30px;}
  #Description p{font-size: 20px;}
  #Description h2{font-size: 35px;}
  #NewsAndUpdateSelect h2{font-size: 35px;}
  .slideshow-container h2{font-size: 35px;}
  #lineTextNexttoImg  {display: block; }
  #lineTextNexttoImg p{font-size: 20px; margin-right: 10%;}
   #lineTextNexttoImg img{width: 500px;}

}



.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}